
{% extends 'base.html' %}

{% block title %}Add tail{% endblock %}

{% block content %}
  <div class="container">
        <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-11">
								<a href="#" class="active" id="register-form-link">Add product URL</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
                            <div class="col-lg-12">
                                <form id="register-form" action="{% url 'add-tail-view' %}" method="post" role="form" >

                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" aria-label="Text input with checkbox" onkeypress="checkUrl(this, '{{ csrf_token }}');"/>
                                        <div class="input-group-addon input-check">
                                            <span class="glyphicon glyphicon-ok valid-url" aria-hidden="true" id="valid-item"></span>
                                            <span class="glyphicon glyphicon-remove invalid-url" aria-hidden="true" id="invalid-item"></span>
										</div>

                                    </div>

									<div class="form-group">
										<div class="form-group">
											<input type="hidden" name="product_name" id="product_name" tabindex="1" class="form-control" placeholder="product name" value="">
										</div>
										<div class="form-group">
											<input type="hidden" name="product_price" id="product_price" tabindex="1" class="form-control" placeholder="product price" value="">
										</div>
										<div class="form-group">
											<input type="hidden" name="product_url" id="product_url" tabindex="1" class="form-control" placeholder="product url" value="">
										</div>
										<div class="form-group">
											<input type="hidden" name="product_shop" id="product_shop" tabindex="1" class="form-control" placeholder="product shop" value="">
										</div>
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="add-tail-submit" id="add-tail-submit" tabindex="4" class="form-control btn btn-register" value="Add product" disabled>
                                            </div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}