{% load staticfiles %}

{% with len_prod_unavailable=unavailable_products|length len_prod_best_price=best_price_products|length %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <meta name='profitshareid' content='3b78a5a1064209c87f67401da6480445' />

    <title>{% block title %}ShoppingList - Home page{% endblock %}</title>
    {% block begin_javascript %}
    {% endblock%}


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!--external css-->
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'img/favicon.png' %}">

</head>

  <body>

    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
    <header class="header black-bg">
            {% if user.is_authenticated %}
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            {% endif %}
            <!--logo start-->
            <a href="/" class="logo"> <b><i class="fa fa-tags"></i> shopping list.ro</b> </a>
            <!--logo end-->
            {% if user.is_authenticated %}
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">{{ diff_products|length }}</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                {% if diff_products|length > 0 %}
                                <p class="green">Price changed for {{ diff_products|length }} products</p>
                                {% else %}
                                <p class="green">No changed products today</p>
                                {% endif %}
                            </li>
                            {% for product in diff_products %}
                            <li>
                                <a href="{{product.aff_url}}" target="_blank">

                                    <div class="task-info">
                                        <div class="desc truncate-250">{{product.name}}</div>
                                        {% if product.trend == "ASC" %}
                                        <div class="percent">+{{product.percent}}%</div>
                                        {% elif product.trend == "DESC" %}
                                        <div class="percent">-{{product.percent}}%</div>
                                        {% endif %}
                                    </div>
                                    <div class="progress progress-striped">
                                        {% if product.trend == "ASC" %}
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{product.percent}}%">
                                            <span class="sr-only">{{product.percent}}% Complete (success)</span>
                                        </div>
                                        {% elif product.trend == "DESC" %}
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{product.percent}}%">
                                            <span class="sr-only">{{product.percent}}% Complete (success)</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                            {% if diff_products|length > 0 %}
                                <li class="external">
                                    <a href="/my-products">See all products</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">{{ len_prod_unavailable|add:len_prod_best_price }}</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                {% if len_prod_unavailable|add:len_prod_best_price == 1 %}
                                <p class="green">You have {{ len_prod_unavailable|add:len_prod_best_price }} notification</p>
                                {% elif len_prod_unavailable|add:len_prod_best_price > 1 %}
                                <p class="green">You have {{ len_prod_unavailable|add:len_prod_best_price }} notifications</p>
                                {% else %}
                                <p class="green">No notifications today</p>
                                {% endif %}
                            </li>
                            {% for product in unavailable_products %}
                            <li>
                                <a href="/my-products">
                                    <span class="photo"><img alt="avatar" src="{% static 'img/ui-danro.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from danger alert-danger">Product is no longer available</span>
                                    <span class="time"><button class="btn btn-danger btn-xs" onclick="deleteProduct('{{product.id}}')"><i class="fa fa-trash-o "></i></button></span>
                                    </span>
                                    <span class="message truncate">
                                        {{product.name}}
                                    </span>
                                </a>
                            </li>
                            {% endfor %}
                            {% for product in best_price_products %}
                            <li>
                                <a href="{{product.aff_url}}" target="_blank">
                                    <span class="photo"><img alt="avatar" src="{% static 'img/text-alerts.png' %}"></span>
                                    <span class="subject">
                                    <span class="from">Best price</span>
                                    <span class="time">{{product.price}}</span>
                                    </span>
                                    <span class="message truncate">
                                        {{product.name}}
                                    </span>
                                </a>
                            </li>
                            {% endfor %}
                            {% if len_prod_unavailable|add:len_prod_best_price > 0 %}
                            <li>
                                <a href="/my-products">See all products</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<!--<ul class="nav pull-right top-menu">-->
                <ul class="nav navbar-nav navbar-right pull-right pull-down">
                    <li><a onclick="location.href={% url 'logout'%}">Logout</a></li>
            	</ul>
            </div>
          {% else %}
            <div class="top-menu">
            	<!--<ul class="nav pull-right top-menu">-->
                    <!--<li><a class="logout" href="/login">Login</a></li>-->
                    <!--<li class="active"><a href="#home">Home<span class="sr-only">(current)</span></a></li>-->
            	<!--</ul>-->
                <ul class="nav navbar-nav navbar-right pull-right pull-down">
                    <!--<li class="active"><a href="/#about-id">About<span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a href="/#notification-id">Notification</a></li>-->
                    <!--<li><a href="/#products-id">Products</a></li>-->
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
          {% endif %}
        </header>
      <!--header end-->

    <section id="container" >
      {% if user.is_authenticated %}
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="/profile"><img src="{% static 'img/ui-sam.jpg' %}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{ user.username }}</h5>

                  <li class="sub-menu">
                      <a href="/dashboard">
                          <i class="fa fa-dashboard"></i>
                          <span class="text-menu">Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-men">
                      <a href="/my-products">
                          <i class="fa fa-tv"></i>
                          <span class="text-menu">My products</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/add-new-product" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span class="text-menu">Add new product</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/profile" >
                          <i class="fa fa-cogs"></i>
                          <span class="text-menu">Profile</span>
                      </a>
                  </li>
                  <li class="divider"></li>
                  <li class="mt">
                        <a class="logout text-menu" onclick="location.href={% url 'logout'%}">
                            Logout
                        </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      {% endif %}
    </section>
    <!--sidebar end-->

    {% if user.is_authenticated %}
        <section id="main-content">
          <section class="wrapper site-min-height">
    {% endif %}
          {% block main_content%}
          {% endblock %}
    {% if user.is_authenticated %}
          </section>
        </section>
    {% endif %}

      {% block footer %}
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Alvarez.is
              <a href="blank.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
      {% endblock %}
  </section>

  {% block end_javascript %}
    <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}"></script>
  <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'js/jquery.nicescroll.js' %}"></script>

    <!--common script for all pages-->
  <script src="{% static 'js/common-scripts.js' %}"></script>
  <script src="{% static 'scripts/main.js' %}"></script>

  {% endblock %}

  {% block more_js%}
  {% endblock %}

  </body>
</html>

{% endwith %}
