{% extends 'blank.html' %}

{% load staticfiles %}

{% block title %} ShoppingList:{{ user.username }} - products page {% endblock %}

{% block begin_javascript %}
    <link rel="stylesheet" href="{% static 'css/to-do.css' %}">
{% endblock%}

{% block main_content%}
<h3><i class="fa fa-angle-right"></i> {{ user.username}}'s monitored products</h3>


<div class="row mt">
      <div class="col-md-12">
          <div class="content-panel">
              <h4><i class="fa fa-tasks"></i> Trailed products from EMag</h4><hr>

              <table class="table table-striped table-advance table-hover">
                  <thead>
                      <tr>
                          <th><i class="fa fa-bullhorn"></i> Store</th>
                          <th> <i class="glyphicon glyphicon-tag"></i> Product</th>
                          <th><i class="fa fa-money"></i> Price</th>
                          <th><i class=" fa fa-edit"></i> Status</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>

                  {% for product in products %}
                  <tr>
                      {% if product.shop == 'emag' %}
                        <td><a href = "https://www.emag.ro" target="_blank"><img class="hidden-xs" src="{% static '/img/shops/emag-logo-thumb.png' %}" alt=""></a></td>
                      {% elif product.shop == 'avstore' %}
                        <td><a href = "https://www.avstore.ro" target="_blank"><img class="hidden-xs" src="{% static '/img/shops/AVstore-logo-thumb.png' %}" alt=""></a></td>
                      {% elif product.shop == 'evomag' %}
                        <td><a href = "https://www.evomag.ro" target="_blank"><img class="hidden-xs" src="{% static '/img/shops/evomag-logo-thumb.png' %}" alt=""></a></td>
                      {% elif product.shop == 'cel' %}
                        <td><a href = "https://www.cel.ro" target="_blank"><img class="hidden-xs" src="{% static '/img/shops/cel-logo-thumb.jpg' %}" alt=""></a></td>
                      {% elif product.shop == 'germanos' %}
                        <td><a href = "http://www.germanos.ro/" target="_blank"><img class="hidden-xs" src="{% static '/img/shops/germanos-logo-thumb.png' %}" alt=""></a></td>
                      {% else %}
                        <td>  </td>
                      {% endif %}

                      <td class="hidden-phone"><a href="{{product.aff_url}}" target="_blank">{{product.name}}</a></td>
                      <td>RON {{product.price}}</td>

                      {% if product.trend == "ASC" %}
                        <td><span class="label label-danger label-mini">up {{product.percent}}%</span></td>
                        {% elif product.trend == "DESC" %}
                        <td><span class="label label-success label-mini">down {{product.percent}}%</span></td>
                        {% elif product.available == False %}
                        <td><span class="label label-warning">unavailable</span></td>
                        {% elif product.trend == "FIRST_ENTRY"%}
                        <td><span class="label label-primary">first entry</span></td>
                        {% else %}
                        <td><span class="label label-info label-mini">same price</span></td>
                      {% endif %}
                      <td class="width80px">
                          <a href="/product-details/{{product.id}}"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                          <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#productModal" data-id="graphBody" onclick="openModalGraph({{product.id}}, '{{product.aff_url}}')"><span class="glyphicon glyphicon-stats"></span></button>
                          <button class="btn btn-danger btn-xs" onclick="deleteProduct('{{product.id}}')"><i class="fa fa-trash-o "></i></button>
                      </td>
                  </tr>
                  {% endfor %}

                  <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog" style="width: 1300px; height: 500px">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" id="myModalLabel"><b>Product progress</b></h4>
                              </div>
                              <div class="modal-body" id="graphBody" style="width: 1300px; height: 510px;">
                                  <iframe url="" width="100%" height="100%" frameborder="0px"></iframe>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" id="gotoProductButton" data-url="" onclick="openNewWindow()">GoTo product</button>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                          </div>
                      </div>
                  </div><! --/col-lg-6 -->
                  <!--end modal button-->

                  </tbody>
              </table>
              <div class=" add-task-row">
                  <a class="btn btn-success btn-sm pull-left" href="/add-new-product">Add New Products</a>
              </div>
          </div><!-- /content-panel -->
      </div><!-- /col-md-12 -->
</div>
<!-- INLINE FORM ELELEMNTS -->

{% endblock %}

{% block footer %}
{% endblock %}

{% block more_js%}
    <script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}