{% extends 'blank.html' %}

{% load staticfiles %}

{% block title %} ShoppingList:{{ data.name }}{% endblock %}

{% block begin_javascript%}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/45.2/loader.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/45.2/js/jsapi_compiled_format_module.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/45.2/js/jsapi_compiled_default_module.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/45.2/js/jsapi_compiled_ui_module.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://www.gstatic.com/charts/45.2/js/jsapi_compiled_corechart_module.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load("visualization", "1", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            info = [['Date', 'product price variation']];

            item_index = 0;
            {% for item in data.date_prices %}
                info.push(['{{item.date}}', {{item.price}}])
            {% endfor %}

            var data = google.visualization.arrayToDataTable(info);

            var options = {
                title: "{{ data.name }}",
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block main_content%}

<!-- BASIC FORM ELELEMNTS -->
<div class="row mt">
    <div class="col-lg-12">
      <div class="form-panel panel-body" style="height: 550px">
          <div id="curve_chart" style="height: 500px !important">loading...</div>
          <a href="{{data.aff_url}}" target="_blank" class="btn btn-primary">Buy now</a>
          <a id="deletebtn" class="btn btn-primary right-side" onclick="deleteProduct('{{data.id}}')">Delete</a>
      </div>
    </div><!-- col-lg-12-->
</div><!-- /row -->
{% endblock %}

{% block footer %}
{% endblock %}